<VirtualHost *:80>
    ServerAdmin admin@iamolusola.com
    ServerName iamolusola.com
    ServerAlias www.iamolusola.com
    DocumentRoot /var/www/altschool/laravel/public
    
    <Directory /var/www/altschool/laravel/public>
        AllowOverride All
    </Directory>
    
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>